{% load i18n static inline_admin_paginator %}
<thead><tr>
  <th class="original"></th>
  {% for field in fields %}
    {% if not field.widget.is_hidden %}
      <th class="{% if field.required %} required{% endif %} sorted">
	 <div class="text">
           <a href="?{{ field.toggle_url }}">{{ field.label|capfirst }}</a>
        {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
	 </div>
	<div class="sortoptions">
          {% if field.sort %}
            <a class="sortremove" href="?{{ field.remove_url }}"></a>
            <a class="toggle {{ field.sort }}" href="?{{ field.toggle_url }}"></a>
          {% endif %}
	</div>
       </th>
    {% endif %}
  {% endfor %}
  {% if formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
</tr></thead>
